.custom-select{
    padding: 1%;
    // border: 20px;
    width: 20%;
    display: block;
    background: white;
    margin: 2%
}

button{
    padding: 1%;
    // border: 20px;
    width: 15%;
    display: block;
    background: gray;
    margin: 10px;
}

table {
    width: 75%;
    margin:2%
  }

  td{
      width : 30%
  }

  img {
    width: 35%;
    height: auto;
   }