.custom-select{
    padding: 1%;
    // border: 20px;
    width: 20%;
    display: block;
    background: white;
    margin: 2%
}

button{
    padding: 1%;
    // border: 20px;
    width: 15%;
    display: block;
    background: gray;
    margin: 10px;
}

form, table {
    width: 80%;
    margin:2%
    
  }
  table{
      border:grey;
      border-style: solid;
  }

  td{
      width : 20%
  }
  th{
    font-weight: bold;
    text-transform:uppercase;
  }
  
  img {
    width: 35%;
    height: auto;
   }